<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">HMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink = "/rooms">Rooms</a></li>
      <li><a routerLink = "/departments">Departments</a></li>
      <li><a routerLink = "/doctors">Doctors</a></li>
      <li><a routerLink = "/patients">Patients</a></li>      
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<simple-notifications [options]="options"></simple-notifications>

