<button class="btn btn-default" (click)="getRooms()">Get Rooms</button>
<table class="table">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Room Type</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms">
          <td >{{room.roomNumber}}</td>
          <td >{{room.roomType}} <span id="delete-icon" (click)="onDelete(room)" class="glyphicon glyphicon-trash"></span></td> 
      </tr> 
    </tbody>
</table> 