<!-- <form class="col-md-8" #room="ngForm" (ngSubmit)="submit(room)"> -->
<!-- <form class="col-md-8" #room="ngForm"> -->
<form class="col-md-8">
 <div ngModelGroup="registerRoom" #roomRegister="ngModelGroup">
    <div class="form-group">
    <label for="roomNumber">Room Number</label>
    <input 
      required 
      minlength="5" 
      ngModel 
      name="roomNumber" 
      #roomNumber="ngModel" 
      type="text" 
      id="roomNumber"
      [(ngModel)] ="room.RoomNumber" 
      class="form-control">
    <div class="alert alert-danger" 
      *ngIf="roomNumber.touched && !roomNumber.valid">
      <div *ngIf="roomNumber.errors.required">
        Room number is required
      </div>
      <div *ngIf="roomNumber.errors.minlength">
        Minimum room number should be {{roomNumber.errors.minlength.requiredLength}}
      </div>
    </div>
  </div>
 <div class="form-group">
  <label for="roomType">Room Type</label>
    <input 
      required 
      minlength="5" 
      ngModel 
      name="roomType" 
      #roomType="ngModel" 
      type="text" 
      id="roomType"
      [(ngModel)] ="room.RoomType" 
      class="form-control">
      <div class="alert alert-danger" 
      *ngIf="roomType.touched && !roomType.valid">
      <div *ngIf="roomType.errors.required">
        Room type is required
      </div>
      <div *ngIf="roomType.errors.minlength">
        Minimum room type should be {{roomType.errors.minlength.requiredLength}}
      </div>
    </div> 
  </div>
</div>
  <!-- <button class="btn btn-primary" [disabled]="!f.valid">Submit</button> -->
  <button class="btn btn-primary" (click)="createRoom()" >Submit</button>
</form>
